body {
	background-color: #111111;
}

#display {
	color: #7FDBFF;
	font-family: Monospace;
	font-size: 2em;
	text-align: center;
}

.clock #face {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	position: relative;
	border: 8px solid #fff;
	border-radius: 50%;
	box-shadow: 0px 1px 8px #01FF70 inset;
}

