body {
	background-color: #111111;
}

#display {
	color: #0074D9;
	font-family: Monospace;
	font-size: 2em;
	text-align: center;
}

.clock #face {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	position: relative;
	border: 8px solid #fff;
	border-radius: 50%;
}

.clock #hand {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4px 0 -4px -25%;
	padding: 4px 0 4px 25%;
	background: #fff;
	transform-origin: 100% 50%;
	border-radius: 4px 0 0 4px;
}

.Spring {
	box-shadow: 0px 0px 8px #2ECC40;
}
.Summer {
	box-shadow: 0px 0px 8px #FF4136;
}
.Fall {
	box-shadow: 0px 0px 8px #FF851B;
}
.Winter {
	box-shadow: 0px 0px 8px #7FDBFF;
}
